<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link href="{{ site.base_url }}/main.css" rel="stylesheet" />
    <meta name="robots" content="index, follow">
    <meta property="og:type" content="website" />
    <meta property="og:site_name" content="Site internet de darnuria" />
    <meta property="og:title" content="{{ page.title }}" />
    <meta property="og:url" content="https://darnuria.eu" />
    <title>{{ page.title }}</title>
  </head>
  <body class="document">
    <div>
      {{ page.content }}
    </div>
    <footer>
    </footer>
  </body>
</html>
