/*
 * Design rules from
 * https://jgthms.com/web-design-in-4-minutes
 */


/* Nice looking font */
body {
    font-family: sans-serif;
}

/*
 * Centering text and nice looking font.
 */
body {
    margin: 0 auto;
    max-width: 50em;
}

/* Spacing */
body {
    line-height: 1.5;
    padding: 4em 1em;
}

/* Less harsh contrast */
body {
    color: #555;
}

/* darker contrast for important wording */
h1,
h2,
strong {
    color: #333;
}

h2 {
    margin-top: 1em;
    padding-top: 1em;
}

p {
  color:#222;
}

h1, h2, h3, strong {
  color: black;
}

a {
  color: hsl(240, 80%, 60%);
}

/* Some code style */
code,
pre {
    background: #eee;
    background: #f5f7f9;
    border-bottom: 1px solid #d8dee9;
    color: #a7adba;
}

code {
    padding: 2px 4px;
    color: #566b78;
    vertical-align: text-bottom;
}

pre {
    padding: 1em;
    border-left: 2px solid #69c;
}
